<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a href="#" class="navbar-brand">NSURE Dashboard</a>

  <ul class="navbar-nav mr-auto" routerLinkActive="active" *ngIf="isLoggedIn">
    <li class="nav-item" *ngFor="let routeInfo of routeBehindLoginOnTheLeft">
      <a [href]="'/'+ routeInfo.route" class="nav-link" [routerLink]="routeInfo.route">
        <i *ngIf="routeInfo.icon" [class]="routeInfo.icon" class="mr-1"></i>
        <span>{{routeInfo.label}}</span>
      </a>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto" routerLinkActive="active" *ngIf="isLoggedIn">
    <li class="nav-item" *ngFor="let routeInfo of routeBehindLoginOnTheRight">
      <a [href]="'/'+ routeInfo.route" class="nav-link" [routerLink]="routeInfo.route">
        <i *ngIf="routeInfo.icon" [class]="routeInfo.icon" class="mr-1"></i>
        <span>{{routeInfo.label}}</span>
      </a>
    </li>

    <li class="nav-item">
      <a href class="nav-link" (click)="logout()">
        <i class="fas fa-sign-out-alt mr-1"></i>
        <span>Logout</span>
      </a>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
    <li class="nav-item">
      <a [href]="'/'+ routeLogin.route" class="nav-link" [routerLink]="routeLogin.route">
        <i *ngIf="routeLogin.icon" [class]="routeLogin.icon" class="mr-1"></i>
        <span>{{routeLogin.label}}</span>
      </a>
    </li>
  </ul>
</nav>
