<div class="container" *ngIf="currentUser; else loggedOut">
  <h1 class="my-5">
    <strong>{{ currentUser?.email }}</strong> Profile
  </h1>

  <table class="table">
    <tr>
      <th>Name</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>Access token</td>
      <td>{{ token?.access_token }}</td>
    </tr>
    <tr>
      <td>Picture</td>
      <td>
        <img [src]="currentUser.picture" alt="picture" width="100" height="100"/></td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{ currentUser?.email }}</td>
    </tr>
    <tr>
      <td>Other</td>
      <td>
        <pre>{{ currentUser | json }}</pre>
      </td>
    </tr>
  </table>

</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
